Repository kisstar/bundler-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run mdlint, npm run eslint

chore(lint): use prettier to enforces a consistent style
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  yarn.lock
Due: none

chore: auto handling versioning, changelog generation, etc
  package.json
  yarn.lock
Due: none

chore: add .versionrc to control the rules of changelog
  .prettierrc
  .versionrc
Due: none

chore(release): 0.0.1
  CHANGELOG.md
Due: npm run mdlint

chore: adjust the configuration of prettier and markdownlint
  .markdownlintrc
  .prettierignore
Due: none

chore(lint): enforce conventions in your styles to avoid errors
  .lintstagedrc
  .prettierrc
  .stylelintignore
  .stylelintrc
  package.json
  yarn.lock
Due: none

chore(lint): enforce conventions in html to avoid errors
  .htmlhintrc
  .lintstagedrc
  .prettierrc
  package.json
  yarn.lock
Due: none

chore: modify and add configuration to optimize code format
  .prettierignore
  .stylelintrc
  .vscode/settings.json
  lib/yarn/README.md
Due: npm run mdlint

chore(deps): upgrade packagge to handle dependabot alerts
  yarn.lock
Due: none

chore: remove the custom commitlint configuration file
  lib/commit/cz-conventional-changelog.js
  package.json
Due: npm run eslint

chore(deps): move htmlhint from dependencies to devDependencies
  package.json
Due: none

chore(deps): upgrade markdownlint related packages
  package.json
  yarn.lock
Due: none

chore(deps): upgrade eslint related packages
  .eslintignore
  package.json
  yarn.lock
Due: none

chore: run multiple commands concurrently
  .npmrc
  .prettierignore
  package.json
  yarn.lock
Due: none

chore: 添加项目版本管理
  .gitignore
  .npmrc
  README.md
  package-lock.json
  package.json
Due: npm run mdlint

chore: 添加 MIT LICENSE
  LICENSE
Due: none

docs(project-base): 更新项目介绍
  project-base/README.md
  project-base/package.json
Due: npm run mdlint

docs: 添加使用说明
  README.md
  package.json
Due: npm run mdlint

feat(rollup-typescript): 添加 rollup-typescript 模块
  rollup-typescript/.editorconfig
  rollup-typescript/.eslintrc.json
  rollup-typescript/.gitignore
  rollup-typescript/.nvmrc
  rollup-typescript/.prettierrc.json
  rollup-typescript/.stylelintrc.json
  rollup-typescript/.vscode/settings.json
  rollup-typescript/.yarn/releases/yarn-berry.cjs
  rollup-typescript/.yarnrc.yml
  rollup-typescript/README.md
  rollup-typescript/lerna.json
  rollup-typescript/package.json
  rollup-typescript/packages/package_name/.babelrc
  rollup-typescript/packages/package_name/README.md
  rollup-typescript/packages/package_name/package.json
  rollup-typescript/packages/package_name/public/index.html
  rollup-typescript/packages/package_name/rollup.config.js
  rollup-typescript/packages/package_name/src/index.ts
  rollup-typescript/packages/package_name/src/style/index.scss
  rollup-typescript/yarn.lock
Due: npm run mdlint, npm run eslint

docs(project-base): update README.md
  project-base/README.md
Due: npm run mdlint

feat(rollup-typescript-monorepo): 添加 rollup-typescript-monorepo 模块
  rollup-typescript-monorepo/.editorconfig
  rollup-typescript-monorepo/.eslintrc.json
  rollup-typescript-monorepo/.gitignore
  rollup-typescript-monorepo/.nvmrc
  rollup-typescript-monorepo/.prettierrc.json
  rollup-typescript-monorepo/.stylelintrc.json
  rollup-typescript-monorepo/.vscode/settings.json
  rollup-typescript-monorepo/.yarn/releases/yarn-berry.cjs
  rollup-typescript-monorepo/.yarnrc.yml
  rollup-typescript-monorepo/README.md
  rollup-typescript-monorepo/lerna.json
  rollup-typescript-monorepo/package.json
  rollup-typescript-monorepo/packages/package-alpha/README.md
  rollup-typescript-monorepo/packages/package-alpha/package.json
  rollup-typescript-monorepo/packages/package-alpha/src/index.ts
  rollup-typescript-monorepo/packages/package-beta/README.md
  rollup-typescript-monorepo/packages/package-beta/lib/index.ts
  rollup-typescript-monorepo/packages/package-beta/package.json
  rollup-typescript-monorepo/public/index.html
  rollup-typescript-monorepo/rollup.config.js
  rollup-typescript-monorepo/tsconfig.eslint.json
  rollup-typescript-monorepo/tsconfig.json
  rollup-typescript-monorepo/yarn.lock
Due: npm run mdlint, npm run eslint

feat(rollup-typescript): 更新 rollup-typescript 模块
  rollup-typescript/.eslintignore
  rollup-typescript/.eslintrc.js
  rollup-typescript/.eslintrc.json
  rollup-typescript/.gitignore
  rollup-typescript/.husky/.gitignore
  rollup-typescript/.husky/commit-msg
  rollup-typescript/.husky/pre-commit
  rollup-typescript/.npmrc
  rollup-typescript/.nvmrc
  rollup-typescript/.prettierrc.json
  rollup-typescript/.stylelintrc.js
  rollup-typescript/.stylelintrc.json
  rollup-typescript/.vscode/settings.json
  rollup-typescript/.yarn/releases/yarn-berry.cjs
  rollup-typescript/.yarnrc.yml
  rollup-typescript/LICENSE
  rollup-typescript/README.md
  rollup-typescript/lerna.json
  rollup-typescript/package-lock.json
  rollup-typescript/package.json
  rollup-typescript/packages/package_name/.babelrc
  rollup-typescript/packages/package_name/README.md
  rollup-typescript/packages/package_name/package.json
  rollup-typescript/packages/package_name/public/index.html
  rollup-typescript/packages/package_name/rollup.config.js
  rollup-typescript/packages/package_name/src/index.ts
  rollup-typescript/packages/package_name/src/style/index.scss
  rollup-typescript/rollup.config.js
  rollup-typescript/src/index.ts
  rollup-typescript/src/style/index.scss
  rollup-typescript/tsconfig.eslint.json
  rollup-typescript/tsconfig.json
  rollup-typescript/yarn.lock
Due: npm run mdlint, npm run eslint

chore: update .gitignore
  .gitignore
Due: none

feat(webpack5-typescript): 添加 webpack5-typescript 模块
  webpack5-typescript/.editorconfig
  webpack5-typescript/.gitignore
  webpack5-typescript/.npmrc
  webpack5-typescript/.nvmrc
  webpack5-typescript/.prettierrc
  webpack5-typescript/LICENSE
  webpack5-typescript/README.md
  webpack5-typescript/config/webpack.config.analyse.js
  webpack5-typescript/config/webpack.config.base.js
  webpack5-typescript/config/webpack.config.dev.js
  webpack5-typescript/config/webpack.config.prod.js
  webpack5-typescript/lib/asset-loader.cofig.js
  webpack5-typescript/lib/css-loader-config.js
  webpack5-typescript/lib/html-plugin-config.js
  webpack5-typescript/lib/utils.js
  webpack5-typescript/package-lock.json
  webpack5-typescript/package.json
  webpack5-typescript/public/favicon.ico
  webpack5-typescript/public/template.html
  webpack5-typescript/src/index.ts
  webpack5-typescript/src/types/image.d.ts
  webpack5-typescript/tsconfig.json
Due: npm run mdlint, npm run eslint

Path conditions:
  npm run mdlint: any of: *.md
  npm run eslint: any of: *.js
